<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Reservation.Repository.Properties.RepositorySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Reservation.Repository.Properties.RepositorySettings>
            <setting name="BusinessHoursDetail" serializeAs="String">
                <value>[{"DayOfTheWeek":0,"OpenTime":"09:00:00","CloseTime":"23:00:00"},{"DayOfTheWeek":1,"OpenTime":"10:00:00","CloseTime":"22:00:00"},{"DayOfTheWeek":2,"OpenTime":"10:00:00","CloseTime":"22:00:00"},{"DayOfTheWeek":3,"OpenTime":"10:00:00","CloseTime":"22:00:00"},{"DayOfTheWeek":4,"OpenTime":"10:00:00","CloseTime":"22:00:00"},{"DayOfTheWeek":5,"OpenTime":"10:00:00","CloseTime":"22:00:00"},{"DayOfTheWeek":6,"OpenTime":"09:00:00","CloseTime":"23:00:00"}]</value>
            </setting>
            <setting name="TableDetail" serializeAs="String">
                <value>[{"TableId":1,"MaxOccupancy":2},{"TableId":2,"MaxOccupancy":2},{"TableId":3,"MaxOccupancy":4},{"TableId":4,"MaxOccupancy":4},{"TableId":5,"MaxOccupancy":4},{"TableId":6,"MaxOccupancy":4},{"TableId":7,"MaxOccupancy":4},{"TableId":8,"MaxOccupancy":4},{"TableId":9,"MaxOccupancy":6},{"TableId":10,"MaxOccupancy":6}]</value>
            </setting>
        </Reservation.Repository.Properties.RepositorySettings>
    </applicationSettings>
</configuration>